# Fichiers générés par Flutter
flutter/ephemeral/
flutter/generated_plugin_registrant.cc
flutter/generated_plugin_registrant.h
flutter/generated_plugins.cmake

# Fichiers de build
build/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Fichiers Visual Studio
.vs/
*.db
*.opendb

# Fichiers CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

